*{
margin:0;
padding:0;
}

html, body{
font-family:Helvetica Neue,Helvetica, Arial, sans;
margin:0;
padding:0;
outline:0;
height:100%;
width:100%;
overflow:hidden;
position:relative;
background-color:#e9f0f2;
min-width:320px;
}

body{
    -webkit-user-select: none;
    user-select: none;
}



/*default css*/
.app-button{position:absolute;top:0;padding:0 8px;height:100%;} 
.app-topbar .app-button.left{left:0;border-right:1px solid #0080b2; height:44px; width:60px;}
.app-topbar .app-button.right{right:0}
.app-topbar .app-title{margin:0 auto;height:100%;width:100%;line-height:44px;text-align:center;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.app-android .app-topbar .app-title{line-height:48px}
.app-scrollhack>*{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.app-section {
    position: relative;
    border: 1px solid #AAA;
}


.app-android div.app-topbar{
   height:48px;
}

div.app-topbar{
   background-color:#0095c5;
   width:100%;
   color:white;
   text-align:center;
   height:44px;
   line-height:44px;
}


div.app-title img.title{
   margin-top:10px;
}

div.app-topbar img.email_img, div.app-topbar img.back_button, div.app-topbar img.profile_img {
margin-top:12px;
}
a.install {
    border-right: 1px solid #0080b2;
    /*padding: 5px 10px;*/
    position: absolute;
    left: 0;
    text-decoration: none;
    top: 0;
    width:60px;
    height:44px;
}


a.email{
    /*background:url("images/question_1.png") no-repeat 12px 1px transparent background-size: 100%;*/
    border-left: 1px solid #0080b2;
    /*padding: 5px 10px;*/
    position: absolute;
    right: 0;
    text-decoration: none;
    top: 0;
    width:60px;
    height:44px;
}

a.email.active{
  background-color: rgba(1, 1, 1, .1);
}


a{
           text-decoration:none;
           color:#4d4d4f;
}
div.app-content{
  position:relative;
}
ul.app-list {
            position:relative;
}

ul.app-list li{
   padding:10px 0 10px 10px;
   list-style:none;

}


ul.app-list li.userblock, .overlay_li{
opacity:1;
border-bottom:1px solid #c3cdce;
background-color: #e9f0f2;
overflow:hidden;
position:relative;
padding:0;
/*padding:5px 0 5px 10px;*/
height:80px;
padding-top:10px;
padding-left:10px;
/*-webkit-tap-highlight-color: rgba(1,1,1,.1);*/
}

ul.app-list li.userblock.self{
 background-color:#dce7e9;
 height: 96px;
}

ul.app-list li:active.userblock{
/*
   background-color:rgba(1,1,1,.1);
-webkit-tap-highlight-color: rgba(1,1,1,.1); 
*/

}

ul.app-list li.userblock.active{
background-color: rgba(1,1,1,.1);
}

ul.app-list li.userblock.self >  div.removeme{
display:block !important;
font-size:20px;
}

ul.app-list li.userblock li.username, #loading{
   font-weight:bold;
   color:#4d4d4f;
   font-size:20px;
   text-overflow: ellipsis;
   white-space:no-wrap;
   overflow:hidden;
   height:20px;
   margin-bottom:5px;
}

#loading{
 height:30px;
}

ul.app-list li.userblock li.kikname{
   margin-top:-20px;
   color:#777c7f;
   font-size:15px;
}

ul.app-list li.userblock li.tags{
   margin-top:-15px;
   color:black;
   font-size:15px;
}

ul.app-list li.userblock li.tags span {
    border: 1px dotted black;
    padding: 3px;
    border-radius: 3px;
    background: #e7edee;
}

ul.app-list li.userblock div.removeme, ul.app-list li.userblock div.reportme {
   position:absolute;
   top:25px;
   right:0px;
   color:#80c9dc;
   font-weight:bold;
   font-size:20px;
   height:50px;
   width:50px;
   text-align:center;
   line-height:40px;
}

ul.app-list li.userblock div.tagme {
    position: absolute;
    top: 25px;
    right: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 40px;
}

ul.app-list li.userblock div.reportme:active{
  opacity: .5
}

div.image{
  height:70px;
  width:70px;
  float:left;
}

div.image img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
}

div.info{
  float:left;
  margin-left:5px;
  width:200px;
}

div.tags {
    float: left;
    position: absolute;
    top: 63px;
    left: 95px;
    width: 80%;
}

#promo.promo{
/*
position:relative;
box-shadow: 10px 10px 5px #888888;
z-index:2;
height:50px;
background:white;
color:#0194c7;
margin: 10px 10px 0 10px;
padding:10px 0 0 10px;
border:1px solid #8f8f8f;
border-radius:5px;
*/
}

.footer{
position:fixed;
bottom:0;
z-index:2;
left:0;
height:52px !important;
padding: 0 !important;
background:white;
color:#0194c7;
margin: 10px 10px 0 0px;
background-image: linear-gradient(bottom, #FCFCFC 11%, #FDFEFE 56%, #FBFCFC 78%);
background-image: -o-linear-gradient(bottom, #FCFCFC 11%, #FDFEFE 56%, #FBFCFC 78%);
background-image: -moz-linear-gradient(bottom, #FCFCFC 11%, #FDFEFE 56%, #FBFCFC 78%);
background-image: -webkit-linear-gradient(bottom, #FCFCFC 11%, #FDFEFE 56%, #FBFCFC 78%);
background-image: -ms-linear-gradient(bottom, #FCFCFC 11%, #FDFEFE 56%, #FBFCFC 78%);
text-align:left;
background-image: -webkit-gradient(
                  linear,
                  left bottom,
                  left top,
                  color-stop(0.11, #FCFCFC),
                  color-stop(0.56, #FDFEFE),
                  color-stop(0.78, #FBFCFC)
);

padding:10px 0 0 10px;

-webkit-box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, .2); box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, .2);
border-radius:5px solid;
}

a.install.active, a.email.active, div#promo.active, .clicked {
  background-color: rgba(1, 1, 1, .1);
}

div.footer.active{
  background-color: rgba(1,1,1,.6);
}

div.footer a{
text-decoration:none;
}

div.footer img{
           float:left;
}

div.install{
        position:absolute;
        top:15px;
        right:15px;
        color:white;
        font-weight:bold;
        border:1px solid green;
        background-color:green;
        border-radius: 3px;
        padding: 0 10px 0 10px;
        font-size:20px;
}

.kik_icon {
  float:left;
}

div.kikfree{
        margin-left:10px;
        float:left;     
        line-height:34px;
        font-size:16px;
        font-weight:bold;
        color:#007fa8;
        width:200px;
        text-align:left;
}

div.arrow{
        position:absolute;
        right:30px;
        top:22px;
        
}

#promo div.kikfree{
       font-size:16px;
       width:100px;
}

.app-clickblocker{z-index:9000;position:fixed;top:0;left:0;height:100%;width:100%;background:#FFF;opacity:0}.app-page{display:none;position:relative;height:100%;width:100%;overflow:hidden}.app-loaded .app-page{display:block;} 

.app-page{display:block}

p.confirm_message{
text-align:center;
font-size:15px;
margin-top:10px;
color:#4d4d4f;
font-weight:bold;
}

p.confirm_message_note{
font-size:10px;
margin-top:10px;
text-align:center;
margin-left:-10px;
}

.app-content.confirm{
padding: 0 5px;
}
.app-title.confirm{
   font-size:20px;
   color:white;
   font-weight:bold;
   letter-spacing:1px;
}
.button_container{
        text-align:center;
        font-size: 14px;
        width:250px;
        overflow:hidden;
        color:#4d4d4f;
        font-weight:bold;
        margin:10px auto 0 auto;
}

.button_container .button.app-button{
float:left;
border:1px solid #c3cdce;
border-radius:3px;
margin-right:10px;
padding:5px 5px;
width:100px;
position:relative;
}



.button_container .button.app-button:active{
  background-color: rgba(1, 1, 1, .1);
}

p.send_vid_text{
  text-align:center;
  margin:20px 0;
  color:#007fa8;
  font-size:20px;
}

#overlay{
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 44px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     text-align:left;
     background-color: rgba(0,0,0,0.5);
}

div#overlay .overlay_li{
font-size:20px;
padding: 20px 0;
height:30px;
padding-left:10px;
color:#4d4d4f;
}

div.search-container {
    height: 35px; 
    text-align: center; 
    background: #d6dde1;
    padding-left: 10px;
    padding-right: 10px;
}

input#search-bar { 
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    top: 0;
    bottom: 0;
    height: 25px;
    background: url(http://static.chatcard.co/images/icon_search.png) no-repeat 4px white;
    background-size: 15px 16px;
    padding-left: 24px;
    font-size: 13px;
}

input#search-bar:focus {
    outline: 0;
}

span#search-bar-cancel {
    float: right;
    text-align: center;
    padding: 7px 0 0 9px;
    color: #0095c5;
    display: none;
}

div#search-bar-container {
    overflow: hidden;
}

li.tags-promo {
border-bottom:1px dashed #c3cdce;
background-color: white;
overflow:visible;
position:relative;
padding:0;
/*padding:5px 0 5px 10px;*/
height:80px;
padding-top:10px;
padding-left:10px;
/*-webkit-tap-highlight-color: rgba(1,1,1,.1);*/
}

div.tags-promo-text {
    margin-left: 90px;
    margin-right: 50px;
    margin-top: 15px;
}

img#textnew {
    position: absolute;
    top: 50%;
    margin-top: -16px;
}

img#bluearrow {
    position: absolute;
    top: 25px;
    right: 20px;
    z-index: 1000;
}

img.tags-promo-gear {
    padding-right: 3px;
    vertical-align: -3px;
}

ul#myTags {
    overflow: hidden;
    height: 24px;
    padding: 4px 0 4px 0;
    margin: 0px 20px 0px 0px;
    width: auto;
}

ul#myTags li.tagme { 
    display: inline-block;
    border: 1px solid #0095c5;
    margin: 0px 0px 10px 0px;
    padding: 2px 5px 2px 5px;
    color: #0095c5;
    border-radius: 3px;
}

ul#myTags li.notags { 
    display: inline-block;
    border: 1px dotted black;
    margin: 0px 0px 10px 0px;
    padding: 2px;
    background: #e7edee;
    color: black;
    border-radius: 3px;
}

img#textnew-cancel {
    right: 17px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}

input[type="search"] {
    border: none;
}

div.edit-tag-container {
    background: url(/static/chatcard/css/images/icon_tags.png) no-repeat 4px white;
    background-size: 15px 16px;
    padding: 10px 10px 10px 24px;
}

ul.tagit { 
    border: none;
}

ul#editTags .ui-state-default {
    background: white;
    color: #0095c5;
}

span.tagit-label {
    color: #0095c5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans;
    font-weight: 200;
}

span.ui-icon.ui-icon-close {
    /* background: url(//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/start/images/ui-icons_0078ae_256x240.png); */
    /* background-position: -80px -128px; */
    /* background: url(images/icon_remove_tag.png) no-repeat center; */
    background: url(images/delete_1.png) no-repeat center;
    background-size: 12px 12px;
}

ul.tagit li.tagit-choice-editable {
    padding: 3px 20px 3px 5px !important;
}

div.search-header {
    background: white; 
    height: 40px; 
    padding-top: 15px; 
    padding-left: 10px; 
    border-bottom: 1px solid #c3cdce;
}

div#upgrade-banner {
    display: none;
    height: 50px; 
    background: white; 
    text-align: center; 
    padding-top: 0;
}